language: android

jdk: oraclejdk8

android:
  components:
  - platform-tools
  - tools
  - android-23
  - build-tools-23.0.2
  - extra-android-m2repository
  - extra-android-support
  - sys-img-armeabi-v7a-android-19

before_script:
- echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
- emulator -avd test -no-audio -no-window &
- android-wait-for-emulator
- adb shell settings put global window_animation_scale 0 &
- adb shell settings put global transition_animation_scale 0 &
- adb shell settings put global animator_duration_scale 0 &
- adb shell input keyevent 82 &

before_install:
- openssl aes-256-cbc -K $encrypted_27d2053e4dd2_key -iv $encrypted_27d2053e4dd2_iv
  -in lowwor.jks.enc -out lowwor.jks -d
#fix for ./gradlew Permission Denied. Reference: http://stackoverflow.com/questions/33820638/travis-yml-gradlew-permission-denied
- chmod +x gradlew

notifications:
  email: false

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
